# Testfiles
*.csv
*.0
*.dat

# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

# app state snapshot
.app_storage.json
